.b-connection-preview{
    display: inline;
    position: relative;
    z-index: 1;
}
.b-connection-preview__expanded{
    z-index: 2;
}

.b-empty-initials {
    font-size: 16px;
    display: inline-block;
    padding-top: 7px;
    padding-left: 4px;
    color: #777;
}
