.b-connections-list {
    display: flex;
    padding: 0 16px 0 0;
    margin: 0;
    list-style: none;
}

.b-connections-list__expanded {
    display: block;
    padding: 0;
}

.b-connection-item {
    padding: 4px 8px;
}

.b-connection-item__small {
    display: inline-block;
    padding: 7px 8px;
}

.b-connections__short-list {
    display: inline-block;
    padding: 0 20px 0 0;
}

.b-connections {
    position: relative;

    .b-popup {
        right: -10px;
        top: 20px;
        left: initial;
    }
}

.b-connections__expander {
    display: inline-block;
    top: 50%;
    position: absolute;
    right: 5px;
    transform: translateY(-50%);
    z-index: 24;
}

.b-connections__expander_expanded_yes {
    z-index: 25;

}

.b-main-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 110px;
    display: inline-block;
}

.b-connection-list__footer {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 4px 16px;

    .b-connection__avatar {
        width: 16px;
        height: 16px;
        background-color: #ccc;
        flex: 0 0 auto;
    }
    .b-avatar-border {
        width: 24px;
        height: 24px;
    }
    .b-avatar-border_double_true {
        width: 30px;
        height: 30px;
    }

}

.b-help-link{
    color:#666;
    text-decoration: underline;
    padding: 0 8px;

    &:visited,&:hover{
        color:#444;
    }
}
