.b-invite-button
{
    flex: 0 0 70px;
}

.b-invite-button__state_active
{
    color: #17c;
    border: none;
    outline: 0;
    background: transparent;

    cursor: pointer;
}

.b-invite-button__state_passive
{
    display: inline-block;

    width: 24px;
    height: 24px;
    margin: 8px;

    background: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
