.b-person-popup {
    background-color: #fff;
    font-size: 11px;

    .b-avatar {
        flex: 0 0 32px;
    }
    .b-avatar__image_size_big {
        width: 32px;
        height: 32px;
    }

    .b-person-details {
        background-color: #fff;
        font-size: 11px;
    }
    .b-person-details__name{
        font-size: 12px;
        line-height: 12px;
    }
}
