.b-person {
    height: 55px;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #fff;
    margin:1px 0 0;
}

%ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

%flex130{
    flex: 0 0 130px;
}

.b-person-name {
    font-weight: bold;

    @extend %flex130;
    @extend %ellipsis;
}

.b-position {
    @extend %flex130;
    @extend %ellipsis;
}

.b-company {
    @extend %flex130;
    @extend %ellipsis;
}

.b-emails {
    @extend %flex130;
}

.b-email {
    width: 110px;
    display: inline-block;

    @extend %ellipsis;
}
