.b-person-details {
    font-size: 12px;
    position: relative;
    background-color: #f4f4f4;

    .b-avatar{
        flex:0 0 72px;
    }

    .b-phone-list {
        margin: 10px;
    }

    .b-email-list {
        margin: 10px 0;
    }

    .b-email {
        max-width: 190px;
        width: auto;
    }

    .b-main-item {
        max-width: 190px;
        width: auto;
        margin-left: 10px;
    }

    .b-connections__title{
        margin: 0;
        padding: 8px;
    }

    .b-invite-button {
        float: left;
    }

    .b-invite-button__state_passive {
        background: transparent;
        width: auto;
        height: auto;
        margin: 0;
        &:before {
            content: 'Already a member'
        }
    }
}

.b-person-details__name {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
}

.b-person-details__position {
    margin: 4px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.b-person-details__company {
    margin: 4px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.b-connections__title {
    margin: 10px;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
}

.b-avatar-big {
    text-align: center;
    background-size: cover;
    width: 220px;
    height: 204px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
}

.b-person-name__wrapper {
    max-width: 155px;

    .b-person-name {
        font-size: 18px;
    }
}

.b-person-details__main {
    display: flex;
}

.b-person-details__text {
    padding: 20px 8px 20px 0;
}

.b-connections__wrapper{
    background-color: #fff;
}



