.b-person-popup {
    background-color: #fff;
    font-size: 11px;
    width: 200px;

    .b-person-details__text{
        padding: 8px 8px 8px 0;
        max-width: 130px;
    }

    .b-avatar {
        flex: 0 0 32px;
    }

    .b-avatar__image_size_big {
        width: 32px;
        height: 32px;
    }

    .b-person-details {
        background-color: #fff;
        font-size: 11px;
    }

    .b-person-details__name{
        font-size: 12px;
        line-height: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

}

.b-person-popup__footer{
    border-top:1px solid #ccc;
    padding:4px 8px;
}
.b-person-popup__info{
    padding: 4px 8px;
    font-size: 11px;
    color: #666;
}
