.b-search-bar {
    position: relative;
}

.b-search-bar__content {
    font-size: 11px;

    padding: 0 0 10px;
    margin: 8px 0;

    cursor: default;
    white-space: nowrap;

    color: #444;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
}

.b-search-bar__content_searching_yes {
    @extend .b-search-bar__content;

    line-height: 46px;

    height: 46px;
    margin: 8px 0;
    padding: 0;

    text-align: center;

}


