.b-side-bar {
    margin: 8px 0;
    border-radius: 2px;
    border: 1px solid #f2f2f2;
    background-color: #f4f4f4;
    font-size: 11px;
    color: #444;

    .b-email {
        max-width: 190px;
        width: auto;
    }

    .b-main-item {
        max-width: 190px;
        width: auto;
        margin-left: 10px;
    }

    .b-connections__title{
        margin: 0;
        padding: 4px 8px;
    }

    .b-invite-button {
        float: left;
    }

    .b-invite-button__state_passive {
        background: transparent;
        width: auto;
        height: auto;
        margin: 0;
        &:before {
            content: 'Already a member'
        }
    }
}

.b-sidebar__footer {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 10px;
    background: #fff;
    margin: 1px 0;
}

.b-side-bar .b-no-result {
    line-height: 1.5em;
}

.b-person-relations {
    display: inline-block;
}
