.b-site-link {
    width: 16px;
    height: 13px;
    position: absolute;
    top: 4px;
    right: 4px;
    background-image: url(../images/go_dark.png);
    opacity: 0.5;

    &:hover{
        opacity:1;
    }
}

@media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
    .b-site-link {
        background: transparent url(../images/go_dark@2x.png) center center no-repeat;
        background-size: 16px 13px;
    }
}

